<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/">Show All</a><b/>
    Title :<span th:text="${course.title}"></span><br />
    Instructor :<span th:text="${course.instructor}"></span><br />
    Description :<p th:text="${course.description}"></p><br />
    Credit :<p th:text="${course.credit}"></p><br />
    <a th:href="@{/delete/{id}(id=${course.id})}">Delete this course</a>
</body>
</html>